<div class="blue_border">
  <div>
    <%= position.name %>
  </div>

  <div>
    <%= position.description %>
  </div>

  <div>
    <span>Openings:</span>
    <%= position.openings %>
  </div>

  <div>
    <span>Applications:</span>
    <% position.job_applications.each do |job_app| %>
      <%= link_to job_app.name, job_applications_path(job_app) %>
    <% end %>
  </div>
</div>
