<div class="site_header">
  <%= image_tag "logo", class: "logo" %>
  <h1 class="company_name">CareersPage.biz</h1>

  <nav class="header_nav">
    <%= link_to "Careers", careers_path %>
    <%= link_to "About", about_path %>
  </nav>
</div>
