/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$light-gray: #ccc;
$light-red: #f66;
$light-green: #6f6;

.red_border {
    border: 1px solid red;
}
.blue_border {
    border: 1px solid blue;
}
.green_border {
    border: 1px solid green;
}

.flash-error {
    background: $light-red;
}

.flash-success {
    background: $light-green;
}

.logo {
    height: 100px;
    display: inline;
}

.company_name {
    display: inline;
}

.header_nav, .footer_nav {
    display: inline;
    float: right;
}

.site_header, .site_footer {
    background: $light-gray;
    overflow: hidden;
}